/*
Errno::ENOENT: No such file or directory - ./sass/style.scss

Backtrace:
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:482:in `read'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `each'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/plugin.rb:108:in `method_missing'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:381:in `watch_or_update'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/exec/base.rb:52:in `parse'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/exec/base.rb:19:in `parse!'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/bin/sass:13:in `<top (required)>'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/bin/sass:19:in `load'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/bin/sass:19:in `<main>'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/bin/ruby_noexec_wrapper:14:in `eval'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - ./sass/style.scss"; }
