// Berea College additions

@import "components/buttons";
@import "neat/_neat.scss";
//@import "_grid-settings.scss";

/* http://sachagreif.com/useful-sass-mixins/ */
@mixin navigation-list {
  list-style-type:none;
  padding:0;
  margin:0;
  overflow:hidden;
  > li{
    display:block;
    float:left;
    &:last-child{
      margin-right:0px;
    }
  }
}


/*
 * http://www.nodenerd.com/resetting-omega-mixin-bourbon-neat
 * http://www.joshfry.me/blog/2013/05/13/omega-reset-for-bourbon-neat/
 * "n order to use @include omega-reset(), you need to set Bourbon's $fg-column and $fg-gutter variables to match what Bourbon Neat is doing."
 */
$fg-column: $column;
$fg-gutter: $gutter;
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}



.cd-header-ribbon {
  position: absolute;
  top: 0px;
  left: 45px;
  background: url("../images/bc-ribbon-flat.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 80px;
  z-index: $above-content;

  @include MQ(S) {
    background: url("../images/bc-ribbon.png");
    width: 228px;
    height: 265px;
  }

  div#logo {
    background: url("../images/bc-logo-stacked.svg");
    background-size: contain;
    margin: auto;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: top center;
    display: block;
    width: 114px;
    height: 80px;

    @include MQ(S) {
      background: url("../images/primary_white_transparent.svg");
      background-size: 210px;
      background-repeat: no-repeat;
      background-position: top center;
      width: 228px;
      height: 265px;
    }
  }
}


.hero-nav-wrapper {
  @include outer-container;
  text-align: center;
  //margin: 0 20px;
  width: 100%;
  @include MQ(S) {
    margin-bottom: 50px;
  }
  @include MQ(M) {
    margin-bottom: 50px;
    background-color:rgba(0, 90, 139, 0.8); // This is $bc-blue at 80% opacity
  }
}

.hero-nav {
  @include navigation-list;
  padding-top: 0 20px;
  color: $bc-white;
  font-size: 1.2em;
  font-weight: bold;
}

.hero-nav-item {
  background-color:rgba(0, 90, 139, 0.8); // This is $bc-blue at 80% opacity
  margin-bottom: 10px;
  padding: 20px 0;
  @include span-columns(6);
  @include omega(2n);
  @include MQ(M) {
    background-color:transparent;
    margin-bottom: 0;
    @include omega-reset(2n);
    @include span-columns(3);
    @include omega(4n);
  }
}

.hero-nav a,a:link,a:hover,a:visited {
  color: $bc-white;
}

.homepage-slider {

  @include MQ(S) {
    text-align: right;
  }

  .slider-textblock {
    margin: 20px;
    margin-top: 200px;
    background-color: $bc-white;
    padding: 7px;
    @include MQ(S){
      margin-top: 220px;
      background-color: transparent;
    }
  }

  h1 {
    font-family: $opensans-condensed;
    color: $bc-blue;
    text-align: center;
    font-size: 2.6em;
    font-weight: 700;
    line-height: 1em;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    width: 90%;
    border-bottom: 3px solid $bc-orange;

    @include MQ(S) {
      text-align: right;
      margin-right: 0px;
      color: $bc-white;
      text-shadow: 0 0 1px #000;
      padding-bottom: 0px;
      border-bottom: none;
      font-size: 4em;
      line-height: 1.3em;
    }

  }
  p {
    text-align: left;
    color: $bc-blue;

    @include MQ(S) {
      text-align: right;
      color: $bc-white;
    }
  }

  .tagline {
    font-family: $garamond;
    font-size: 1.5em;
    font-weight: 200;
    width: 90%;
    margin: 0 auto;
    letter-spacing: -0.015em;
  }

  .read-more {
    text-align: right;
    padding: 5px;

    a, a:link, a:hover, a:visited, a:active {
      font-family: $opensans-condensed;
      font-size: 14px !important;
      text-transform: uppercase;
      text-decoration: none;
      color: $bc-white;
      @include button(pill, $bc-orange);
      font-weight: 700;
      border: none !important;
    }
  }
}

.homepage-slider-sizing-main {
  height: 192px;
  width: 100%;
  @include MQ(S) {
    height: 620px;
  }
}

.homepage-slider-sizing-dept {
  height: 310px;
}

// Used in icon lists (homepage-slider and footer-social)
.vertical-center { vertical-align: middle; }
.nudge-right { padding-left: 1em; }
.nudge-half-right { padding-left: .5em; }
.nudge-left { padding-right: 1em; }


.homepage-central-content-block {
  position: relative;
  z-index: 100;
}






// Temporarily commented out; Charlie isn't sure if this design will be the final one.
//
//.people-slider {
//  ul {
//    @include navigation-list;
//    display: flex;
//    justify-content: space-around;
//    li {
//      padding: 0 20px;
//      color: $bc-blue;
//      font-size: 1.2em;
//      font-weight: bold;
//    }
//  }
//}
//
//.news {
//  ul {
//    @include navigation-list;
//    display: flex;
//    justify-content: space-around;
//    li {
//      padding: 0 5px;
//      color: $bc-blue;
//    }
//  }
//}
//
//.heading-underlined {
//  font-size: 1.3em;
//  text-transform: uppercase;
//  color: $bc-blue;
//  padding-bottom: 10px;
//  padding-top: 30px;
//  border-bottom: 2px solid $bc-orange;
//  font-weight: normal;
//}
//


.group-elements {
  display: inline-block;
}



/* For department homepage */
.menu-block-wrapper {
  @include outer-container;
  padding-bottom: 20px;
}

.menu-block {
  background: $bc-orange;
  padding: 20px 0;
  margin: 20px 0;
  @include span-columns(12);
  @include omega(1n);
  @include MQ(M) {
    @include omega-reset(1n);
    @include span-columns(4);
    @include omega(3n);
  }

}


