// Berea College additions

@import "components/buttons";
@import "neat/_neat.scss";
//@import "_grid-settings.scss";

/* http://sachagreif.com/useful-sass-mixins/ */
@mixin navigation-list {
  list-style-type:none;
  padding:0;
  margin:0;
  overflow:hidden;
  > li{
    display:block;
    float:left;
    &:last-child{
      margin-right:0px;
    }
  }
}

/*
 * http://www.nodenerd.com/resetting-omega-mixin-bourbon-neat
 * http://www.joshfry.me/blog/2013/05/13/omega-reset-for-bourbon-neat/
 * "n order to use @include omega-reset(), you need to set Bourbon's $fg-column and $fg-gutter variables to match what Bourbon Neat is doing."
 */
$fg-column: $column;
$fg-gutter: $gutter;
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}



.cd-header-ribbon {
  background: url("../images/bc-ribbon-flat.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 45px;
  width: 228px;
  height: 100px;
  z-index: $above-content;

  @include MQ(S) {
    background: url("../images/bc-ribbon.png");
    height: 265px;
  }

  div#logo {
    background: url("../images/bc-logo-stacked.svg");
    background-size: 150px;
    margin: auto;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: top center;
    display: block;
    width: 210px;
    height: 210px;

    @include MQ(S) {
      background: url("../images/primary_white_transparent.svg");
      background-size: 210px;
    }
  }
}


.hero-nav-wrapper {
  @include outer-container;
  text-align: center;
  @include MQ(M) {
    background-color:rgba(0, 90, 139, 0.8); // This is $bc-blue at 80% opacity
  }
}

.hero-nav {
  @include navigation-list;
  padding: 0 20px;
  color: $bc-white;
  font-size: 1.2em;
  font-weight: bold;
}

.hero-nav-item {
  background-color:rgba(0, 90, 139, 0.8); // This is $bc-blue at 80% opacity
  margin-bottom: 20px;
  padding: 20px 0;
  @include span-columns(6);
  @include omega(2n);
  @include MQ(M) {
    background-color:transparent;
    margin-bottom: 0;
    @include omega-reset(2n);
    @include span-columns(3);
    @include omega(4n);
  }
}

.hero-nav a,a:link,a:hover,a:visited {
  color: $bc-white;
}


.homepage-slider {
  height: 620px;
  background: url('../images/front_page_image.png');
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.homepage-slider {
  .slider-textblock {
    margin: 20px;
    margin-top: 220px;
    background-color: $bc-white;
    padding: 20px;
    text-align: right;
  }


  h1 {
    font-family: $opensans-condensed;
    color: $bc-blue;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    width: 80%;
    border-bottom: 3px solid $bc-orange;
  }
  p {
    text-align: left;
    padding-right: 20px;
    color: $bc-blue;
  }
  .tagline {
    font-family: $garamond;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.015em;
  }

  .read-more {
    a {
      font-family: $opensans-condensed;
      font-size: 14px !important;
      text-transform: uppercase;
      text-decoration: none;
      color: $bc-white;
      @include button(pill, $bc-orange);
    }
    a:link, a:hover, a:visited, a:active {
      color: $bc-blue;
    }
  }
}




// Used in icon list
.vertical-center {
  vertical-align: middle;
}

.nudge-right {
  padding-left: 1em;
}

.nudge-half-right {
  padding-left: .5em;
}

.nudge-left {
  padding-right: 1em;
}


.homepage-central-content-block {

}






// Temporarily commented out; Charlie isn't sure if this design will be the final one.
//
//.people-slider {
//  ul {
//    @include navigation-list;
//    display: flex;
//    justify-content: space-around;
//    li {
//      padding: 0 20px;
//      color: $bc-blue;
//      font-size: 1.2em;
//      font-weight: bold;
//    }
//  }
//}
//
//.news {
//  ul {
//    @include navigation-list;
//    display: flex;
//    justify-content: space-around;
//    li {
//      padding: 0 5px;
//      color: $bc-blue;
//    }
//  }
//}
//
//.heading-underlined {
//  font-size: 1.3em;
//  text-transform: uppercase;
//  color: $bc-blue;
//  padding-bottom: 10px;
//  padding-top: 30px;
//  border-bottom: 2px solid $bc-orange;
//  font-weight: normal;
//}
//



/* For department homepage */
.menu-block-wrapper {
  @include outer-container;
  padding-bottom: 20px;
}

.menu-block {
  background: $bc-orange;
  padding: 20px 0;
  margin: 20px 0;
  @include span-columns(12);
  @include omega(1n);
  @include MQ(M) {
    @include omega-reset(1n);
    @include span-columns(4);
    @include omega(3n);
  }

}
