// Berea College additions

@import "components/buttons";
@import "neat/_neat.scss";
@import "base/_variables.scss";
//@import "_grid-settings.scss";

/* http://sachagreif.com/useful-sass-mixins/ */
@mixin navigation-list {
  list-style-type:none;
  padding:0;
  margin:0;
  overflow:hidden;
  > li{
    display:block;
    float:left;
    &:last-child{
      margin-right:0px;
    }
  }
}


/*
 * http://www.nodenerd.com/resetting-omega-mixin-bourbon-neat
 * http://www.joshfry.me/blog/2013/05/13/omega-reset-for-bourbon-neat/
 * "n order to use @include omega-reset(), you need to set Bourbon's $fg-column and $fg-gutter variables to match what Bourbon Neat is doing."
 */
$fg-column: $column;
$fg-gutter: $gutter;
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}



.cd-header-ribbon {
  position: absolute;
  top: 0px;
  left: 45px;
  background: url("../images/bc-ribbon-flat.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 80px;
  z-index: $ultimate-top;
  display: block;

  a:hover {
    opacity: 1;
  }

  @include MQ(M) {
    background: url("../images/bc-ribbon.png");
    width: 228px;
    height: 265px;
  }

  div#logo {
    background: url("../images/bc-logo-stacked.svg");
    background-size: contain;
    margin: auto;
    margin-top: 13px;
    background-repeat: no-repeat;
    background-position: top center;
    display: block;
    width: 114px;
    height: 80px;

    @include MQ(M) {
      background: url("../images/primary_white_transparent.svg");
      background-size: 210px;
      background-repeat: no-repeat;
      background-position: top center;
      width: 228px;
      height: 265px;
    }
  }

  &.mini-ribbon {
    background: url("../images/bc-ribbon-flat.png") !important;
    background-repeat: no-repeat !important;
    width: 228px !important;
    height: 50px !important;

    @include MQ(L) {
      height: 90px !important;
    }

    div#logo {
      margin: 12px 0;
      background: url("../images/bc-logo-stacked.svg") !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: top center !important;

      @include MQ(L) {
        height: 66px !important;
        background-repeat: no-repeat !important;
      }
    }
  }




}

.short-ribbon { // body class
  .cd-header-ribbon {
	@include MQ(M) {
	  background: url("../images/bc-ribbon.png");
	  width: 228px;
	  height: 145px;
	  background-position: bottom center;
	}
  }

  div#logo {
    @include MQ(M) {
      background: url("../images/bc-logo-stacked.svg");
      background-size: contain;
	  margin: auto;
	  margin-top: 24px;
      background-repeat: no-repeat;
      background-position: top center;
      // originally 114x80
	  width: 160px;
	  height: 112px;
    }
  }
}

#ribbon.mini-ribbon {
  div#logo { width: 100% } // centered w/ margins
}

//
.shift-down {
  margin-top: 54px;
  @include MQ(L) {
    margin-top: 84px;
  }
}

.hero-nav-wrapper {
  @include outer-container;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  @include MQ(M) {
	position: absolute;
	bottom:40px;
	right:0px;
    margin-bottom: 50px;
    background-color:rgba(0, 90, 139, 0.8); // This is $bc-blue at 80% opacity
  }
}

.hero-nav {
  @include navigation-list;
  padding: 0 20px;
  padding-top: 20px;
  margin: 0 auto;
  @include MQ(M) {
    padding-top: 0px;
  }
  @include MQ(L) {
    width: 100%;
  }
  color: $bc-white;
  font-size: 1.2em;
  font-weight: bold;
}

.hero-nav-item {
  background-color:rgba(0, 90, 139, 0.8); // This is $bc-blue at 80% opacity
  margin-bottom: 10px;
  padding: 20px 0;
  @include span-columns(6);
  @include omega(2n);
  @include MQ(M) {
    background-color:transparent;
    margin-bottom: 0;
    @include omega-reset(2n);
    @include span-columns(3);
    @include omega(4n);
  }
}

.hero-nav a,a:link,a:hover,a:visited {
  color: $bc-white;
}

.homepage-slider {

  @include MQ(S) {
    text-align: right;
  }
  
  .slider-textblock {
    background-color: $bc-white;
    position:relative;
    margin: -60px 22px 20px 20px;
    padding-top:0 20px 20px 20px;

	@include MQ(M) {
      position: absolute;
      bottom:180px;
      left: 50%;
      margin:0;
      margin-left: -490px;
	  width: 980px;
	  background-color: transparent;
    }
  }

  .slider-textblock-without-blogname {
    display: none;

    @include MQ(M) {
      display: block;
      position: absolute;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 20px;
      padding-top:0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
      bottom: 180px;
      right: 0px;
      width: 100%;
      background-color: transparent;
    }
  }

  .slider-breadcrumbs {
	display:none;

    @include MQ(M) {
	  display:block;
	  text-align: right;
	  color: $bc-white;
	  margin-right: auto;
	  margin-left:auto;

      @include MQ(L) {
        width: 980px;
      }
    }

    #breadcrumbs .breadcrumb_last:only-child {
      display: none;
    }

  }



  h1 {
    font-family: $opensans-condensed;
    color: $bc-blue;
    text-align: center;
    font-size: 2.6em;
    font-weight: 600;
    line-height: 1em;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    width: 90%;
    border-bottom: 3px solid $bc-orange;

    @include MQ(M) {
      text-align: right;
      color: $bc-white;
      text-shadow: 0 0 10px #000;
      padding-bottom: 0px;
      border-bottom: none;
      font-size: 4em;
      line-height: 1.3em;
    }

    @include MQ(L) {
        width: 980px;
    }

  }
  
  p {
    text-align: left;
    color: $bc-blue;

    @include MQ(M) {
      text-align: right;
      color: $bc-white;
    }
  }
/*
  .tagline {
    position: relative;
    font-family: $sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    width: 90%;
    margin: 0 auto;
    letter-spacing: -0.015em;
    text-align: left;
    line-height: 1.8em;

    @include MQ(S) {
      position: absolute;
      top: 35%;
    }

    @include MQ(M) {
      top: 45%;
    }

  } */
  
  .tagline {
    font-family: $sans-serif;
    font-size: 11pt;
    font-weight: 600;
    width: 90%;
    margin: 0 auto;
    letter-spacing: -0.015em;
    @include MQ(M) {
      text-shadow: 0 0 10px #000;
    }
    @include MQ(L) {
      width: 980px !important;
    }
  }

  .read-more {
    text-align: right;
    padding: 5px;

    a, a:link, a:hover, a:visited, a:active {
      font-family: $opensans-condensed;
      font-size: 14px !important;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      border: none !important;
      color: $bc-white;
      @include button(pill, $bc-orange);
      @include MQ(M) {
        color: $bc-blue;
        @include button(pill, $bc-white);
      }
    }
  }
}

.homepage-slider-background, .secondary-slider-background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center top;
  overflow: hidden;
}

.homepage-slider-sizing-aspect-ratio {
	&.homepage-slider {
	  position: relative;
	  width:100%;
	}
	
	&.homepage-slider:before{
	  content: "";
	  display: block;
	  padding-top: 100%;  /* initial aspect ratio of 1:1*/
	}

  .homepage-slider-background, .secondary-slider-background {
	background-size: contain;
	background-repeat: no-repeat;
	background-position:center top;
	overflow: hidden;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:168px;

    @include MQ(M) {
      bottom: 0px;
    }

  }

  /* based on aspect ratios hack: http://www.mademyday.de/css-height-equals-width-with-pure-css.html */
  &.ratio_2x1:before{
    padding-top: 50%;
  }
  &.ratio_1x2:before{
    padding-top: 200%;
  }
  &.ratio_4x3:before{
    padding-top: 75%;
  }
  &.ratio_16x9:before{
    padding-top: 56.25%;
  }
  &.ratio_256x155:before{
    padding-top: 60.55%;
  }
  &.ratio_1024x620:before{
    padding-top: 60.55%;
  }
  &.ratio_16x3:before{
    padding-top: 18.75%;
  }
  &.ratio_1024x192:before{
    padding-top: 18.75%;
  }
  &.ratio_1024x440:before{
    padding-top: 43%;
  }
}

.homepage-slider-sizing-main {
  /* height: 192px;
  width: 100%;
  @include MQ(L) {
    height: 620px;
  } */
}

.homepage-slider-sizing-dept {
  width: 100%;

  
  h1 {
    border-bottom:none;
    padding-bottom:20px;
    margin-bottom:0px;
	@include MQ(M) {
	  margin-top:-4px;
      padding-bottom:0px;
	  padding-top:0px;
	}
  }
  
  .slider-textblock {
    margin-top:-30px;
	@include MQ(M) {
	  bottom:60px;
	}
  }

  .slider-textblock-without-blogname {
    margin-top:-30px;
    @include MQ(M) {
      bottom:80px;
    }
  }

}

// Used in icon lists (homepage-slider and footer-social)
.vertical-center { vertical-align: middle; }
.nudge-right { padding-left: 1em; }
.nudge-half-right { padding-left: .5em; }
.nudge-left { padding-right: 1em; }


.homepage-central-content-block {
  position: relative;
  z-index: 100;
}






// Temporarily commented out; Charlie isn't sure if this design will be the final one.
//
//.people-slider {
//  ul {
//    @include navigation-list;
//    display: flex;
//    justify-content: space-around;
//    li {
//      padding: 0 20px;
//      color: $bc-blue;
//      font-size: 1.2em;
//      font-weight: bold;
//    }
//  }
//}
//
//.news {
//  ul {
//    @include navigation-list;
//    display: flex;
//    justify-content: space-around;
//    li {
//      padding: 0 5px;
//      color: $bc-blue;
//    }
//  }
//}
//
//.heading-underlined {
//  font-size: 1.3em;
//  text-transform: uppercase;
//  color: $bc-blue;
//  padding-bottom: 10px;
//  padding-top: 30px;
//  border-bottom: 2px solid $bc-orange;
//  font-weight: normal;
//}
//


.group-elements {
  display: inline-block;
}



/* For department homepage */
.menu-block-wrapper {
  @include outer-container;
  padding-bottom: 20px;
  display:none;
  @include MQ(L) {
    display:block;
  }
}

.apply-mobile-injected-menu {
  & > li:not(.menu-item-hide-on-large) {
    display: none;
    @include MQ(L) {
      display:inline-block;
    }
  }
}

.menu-item-hide-on-large {
  display:block;
  @include MQ(L) {
    display:none !important;
  }
}

.menu-item-show-on-large {
  display:none;
  @include MQ(L) {
    display:block;
  }
}

.menu-block {
  background: $bc-orange;
  padding: 20px 0;
  margin: 20px 0;
  @include span-columns(12);
  @include omega(1n);
  @include MQ(M) {
    @include omega-reset(1n);
    @include span-columns(4);
    @include omega(3n);
  }

}


/* For news template in child theme 1 */

#news-list {
  a:link, a:hover, a:visited {
    color: $bc-blue;
    text-decoration: none;
  }
}

.root-menu {
  background-color: $bc-blue;
  a {
    color: $bc-white !important;
    font-weight: 600;

    &::before, &::after {
      /* arrow icon in CSS - for element with nested unordered lists */
      background: $bc-white;
    }
  }
}

/* For styling the links on posts. */

.entry-meta {
  a:link, a:visited, a:hover, a:active {
    color: $bc-blue;
    font-weight: bold;
  }
  time {
    color: $bc-blue;
  }
}


.vc_inline-link::before {
  content: ' / ';
}




// Just to force a rewrite of stylesheets.
.unused {
  display: none;
}


// No support for user's photos in admin profiles
// so don't bother showing them in the toolbar

#wp-admin-bar-user-actions {

  li {
    margin-left: 16px !important;

    .ab-item {
      min-width: 100px !important;
    }

  }

  #wp-admin-bar-user-info {

    img.avatar {
      display: none;
    }
  }
}


a.soliloquy-link:hover {
  opacity: 1;
}