/* For content entered in posts by users */

h1.entry-title, h1.entry-title a {
  font-size: 36px;
  line-height: 1.1em;
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 15px 0px;
  font-weight: 700;
  font-style: Normal;
  font-family: $opensans-condensed;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $bc-orange;
  text-align: left;
  text-decoration: none;
  border-bottom: 0px solid $bc-orange;
}

.entry-content {

  // Override for change made in _typography.
  strong {
    font-weight: bold;
    font-size: 1em;
  }

  // Override for change made in _typography.
  em {
    font-style: italic;
    fornt-size: 1em;
  }

  body {
    padding: 0px 0 50px 0;
    font-size: 16px;
    min-height: 100%;
    font-family: $sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    background-color: rgba(255, 254, 249, 1);
  }

  h1 {
    font-size: 52px;
    margin: 0px 0px 15px 0px;
    font-weight: 700;
    font-style: Normal;
    font-family: $opensans-condensed;
    letter-spacing: 1px;
    color: $bc-orange;
  }

  h2 {
    font-size: 40px;
    line-height: 35px;
    margin: 0px 0px 25px 0px;
    font-family: $opensans-condensed;
    font-weight: 300;
    font-style: Normal;
    color: rgba(199, 91, 18, 1);
    letter-spacing: 3px;
  }

  h3 {
    font-size: 28px;
    line-height: 30px;
    margin: 0px 0px 19px 0px;
    font-family: $opensans-condensed;
    font-weight: 300;
    font-style: Normal;
    color: rgba(115, 150, 0, 1);
    letter-spacing: 1px;
  }

  h4 {
    margin-bottom: 25px;
    font-weight: 300;
    font-style: Normal;
    font-family: $opensans-condensed;
    letter-spacing: 1px;
    font-size: 25px;
    color: rgba(147, 177, 204, 1);
    line-height: 25px;
    width: 960px;
    color: $bc-blue;
  }
  

  h5 {
    margin: 0px 0px 25px 0px;
    font-family: $opensans-condensed;
    font-weight: 300;
    font-style: Normal;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 14px;
    color: rgba(51, 51, 51, 1);
  }

  p {
    margin: 0px 0px 25px 0px;
    text-transform: inherit;
    font-size: 16px;
    font-family: $sans-serif;
  }

  p.intro {
    font-size: 16px;
    line-height: 29px;
    margin: 0px;
    font-family: $sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 90, 139, 1);
    padding: 5px;
  }

  blockquote.pull-quote {
    margin: 0em 1em 1em 0em;
    border-left: 3px solid #ccc;
    padding: 0em 0em 0em 0.7em;
    background-color: $bc-white;
  }

  div.content {
    text-align: left;
    width: 40%;
    padding: 50px 0px 0px 0px;
    background-color: rgba(255, 255, 255, 1);
  }

  p.quote {
    font-size: 23px;
    line-height: 28px;
    font-style: italic;
    color: #666666;
    margin: 0px;
    background-color: $bc-white;
  }

  blockquote {
    font-size: 26px;
    line-height: 37px;
    margin-bottom: 25px;
  }

  a {
    color: $bc-blue;
    /* text-decoration: underline; */

    &:visited {
      color: $bc-orange;
  }

  }

  ul, ol {
    margin: 0px 0px 25px 0px;
    font-size: 16px;
    line-height: 1.4em;
    font-family: $sans-serif;
    list-style-type: disc;

    li {
      list-style-type: disc;
    }
  }

  .original-publish-date, .source-url-top, .source-url-bottom {
    font-size: 14px;
    color: #444;
  }
  .original-publish-date {
    margin-bottom: 0.1em;
  }
  .source-url-top {
    margin-bottom: 25px;
  }
  .source-url-bottom {
    margin: 1em 0;
  }

}