// breakpoints
   
$S:     481px;
$M:     769px;
$L:     1024px; // 1171px;
$maxL:    $L - 1px;

/*
 * 	if you change the value of $L here, be sure to
 *  update var MqL in navigation.js as well!
 */

//match the wordpress admin bar breakpoint
$WPA:   782px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
  @else if $canvas == maxL {
   @media only screen and (max-width: $maxL) { @content; } 
  }
  @else if $canvas == WPA {
   @media only screen and (max-width: $WPA) { @content; } 
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

