// colors

$color-1: #2e3233; // grey dark
//$color-2: #69aa6f; // green
$color-2: #005A8B; // Berea Blue
$color-3: #e2e3df; // grey light 
$color-4: #ffffff; // white
$color-5: #C75B12; // Berea Orange

$bc-lightblue: #BFDBEC;
$bc-blue: #005A8B;
$bc-orange: #C75B12;
$bc-white: #FFFFFF;
$bc-green: #739600;

// fonts 

$primary-font: 'Open Sans', sans-serif;

// header size

$header-height-S: 50px;
$header-height-L: 80px;

// Navigation size

$nav-width-S: 260px;

// Search size

$search-height-S: 50px;
$search-height-L: 120px;

// z-index

$below-content: 1;
$content: 2;
$above-content: 3;