/* =Variables
-------------------------------------------------------------- */
$icon-color: #ff0000;
$primary-color: #ff0000;
$title: $helvetica;
//$content: $georgia;
$content: 'Open Sans', sans-serif;

$bc-blue: #005A8B;
$bc-orange: $C75B12;