/*
Error: Invalid CSS after "a.": expected class name, was ".soliloquy-link..."
        on line 645 of /Users/skaught/Projects/bc-wp/bc-wp-2015/assets/sass/_bc-additions.scss
        from line 121 of /var/folders/05/7f_fw5_92ld5_qbq2nc2mnfm0000gn/T/gulp-ruby-sass/style-min.scss

Backtrace:
/Users/skaught/Projects/bc-wp/bc-wp-2015/assets/sass/_bc-additions.scss:645
/var/folders/05/7f_fw5_92ld5_qbq2nc2mnfm0000gn/T/gulp-ruby-sass/style-min.scss:121
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/scss/parser.rb:1164:in `expected'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/scss/parser.rb:1098:in `expected'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/scss/parser.rb:1093:in `tok!'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/scss/static_parser.rb:191:in `class_selector'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/scss/static_parser.rb:159:in `simple_selector_sequence'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/scss/static_parser.rb:112:in `selector'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/scss/static_parser.rb:86:in `selector_comma_sequence'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/scss/parser.rb:1076:in `expr!'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:424:in `visit_rule'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/stack.rb:79:in `with_base'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/stack.rb:88:in `block in with_import'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/stack.rb:88:in `with_import'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/stack.rb:79:in `with_base'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `each'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/exec/base.rb:52:in `parse'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/lib/sass/exec/base.rb:19:in `parse!'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.4.14/bin/sass:13:in `<top (required)>'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/bin/sass:19:in `load'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/bin/sass:19:in `<main>'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/bin/ruby_noexec_wrapper:14:in `eval'
/Users/skaught/.rvm/gems/ruby-1.9.3-p385/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"a.\": expected class name, was \".soliloquy-link...\"\A         on line 645 of /Users/skaught/Projects/bc-wp/bc-wp-2015/assets/sass/_bc-additions.scss\A         from line 121 of /var/folders/05/7f_fw5_92ld5_qbq2nc2mnfm0000gn/T/gulp-ruby-sass/style-min.scss"; }

/*# sourceMappingURL=style-min.css.map */
