/* Formate fix for WooCommerce donation page */

div.product div.summary {
  width: 100% !important;
}

div.nyp {
	width: 35%;
}

input#input_4_2_other {
	margin-top: 10px;
	margin-left: 0px;
} 

li#field_4_36 {
	height: 250px;
}