footer {
  	position: relative;
	float: left;
	margin: auto;
  	margin-top: -80px;
	padding: 0px;
	width: 100%;
  	z-index: -1;
	.site-info {
		color: $bc-blue;
		background: $bc-lightblue;
		margin: auto;
		width: 100%;
        text-align: center;
        font-size: 1.3em;
        padding-top: 20px;
        h3 {
          font-size: 1.3em;
        }
        p {
          font-family: $opensans-condensed;
        }
	}
	.footer-left {
		@include span-columns(6);
		margin-top: 30px;
		margin-bottom: 40px;
		padding: 10px;
		text-align: left;
	}
	.footer-right {
		@include span-columns(6);
		margin-top: 30px;
		margin-bottom: 40px;
		padding: 10px;
		text-align: right;
	}
	.footer-main {
		@include clearfix;
		color: $bc-white;
		background: $bc-blue;
        padding: 20px;
	  	padding-top: 100px;
        h3 {
          text-align: center;
          font-size: 1.3em;
        }
	}
	.footer-promise {
		float: left;
		width: 25%;
        padding: 5px;

	}
	.footer-about {
		float: left;
		width: 25%;
        padding: 5px;

	}
	.footer-distinctly {
		float: left;
		width: 25%;
        padding: 5px;

	}
	.footer-maps {
		float: left;
		width: 25%;
        padding: 5px;

	}
	.footer-more {

	}
	.footer-social {
		clear: left;
		color: $bc-white;
		background: $bc-orange;
		text-align: center;
        padding: 20px;
        font-size: 1.3em;
        font-weight: bold;

	}

}
