@import "partials/_layout.scss";

/* =Structure/Scaffolding
-------------------------------------------------------------- */
html {

}
body {
	color: #000;
	font-family: $content;
	line-height: 1.5em;
	word-break: break-word;
  	border-top: 4px solid $bc-orange;
  	//background: url('../images/bg_texture.png');
}
#page {
	@include outer-container;
  	position: relative;
}
.wrap {}

#main {
	padding: 20px 50px;
  	position: relative;
  	z-index: 1;
}
#main-footer-shim {
  	background-color:$bc-blue;
  	height:60px;
  	margin-top:-60px;
}

#primary {
	@include clearfix;

	@include MQ(S) {
		@include span-columns( 4 );
	}
	@include MQ(M) {
		@include span-columns( 6 );
        // @include shift(1);
        @include omega();        
	}
	margin: auto;
	background-color: transparent;

	ul {
		list-style: none;

		li {
			list-style-type: none;
		}
	}

}
#secondary {

  background-color: $bc-white;

  display: none;


  @include MQ(S) {
    display: block;
	//@include span-columns( 4 );
	//padding: 30px;
  }

  @include MQ(M) {
    display: block;
	@include span-columns( 2 );
	@include omega( block );
  }

  //margin: 20px auto;
  margin: -60px auto;
  padding: 0 30px 0 0;
  width: 100%;

  a:link, a:visited, a:hover {
    color: $bc-orange;
  }

  li {
    border-top: 1px solid $bc-orange;
    list-style-type: none;

  }
}
