@import "partials/_layout.scss";

/* =Structure/Scaffolding
-------------------------------------------------------------- */

/* #TODO: replace @include media with @include MQ to better match other sass files 
          removed because it breaks the layout  */

html {

}
body {
	color: #000;
	font-family: $content;
	line-height: 1.5em;
	word-break: break-word;
  	border-top: 4px solid $bc-orange;
  	//background: url('../images/bg_texture.png');
}
#page {
	@include outer-container;
  	position: relative;
}
.wrap {}

#main {
	padding: 20px 50px;
  	position: relative;
  	z-index: 1;
}

#footer-shim {
	@include clearfix;
	clear: both;
	background-color:$bc-blue;
	height:1px;
}
.footer-shim-inner {
    position:relative;
    background-color:$bc-blue;
    height:1px;
    width:100%;
}
.footer-shim-block {
    position:absolute;
    top:-60px;
    left:0px;
    height:60px;
    width:100%;
    background-color:$bc-blue;
}

#primary {
	@include clearfix;

	@include media($sm) {
		@include span-columns( 4 );
	}
	@include media($md) {
		@include span-columns( 6 );
        // @include shift(1);
        @include omega();        
	}
	margin: auto;
	background-color: transparent;

	ul {
		list-style: none;
	}

}
#secondary {

  background-color: $bc-white;

  display: none;

  @include media($sm) {
    display: block;
  }

  @include media($md) {
    display: block;
	@include span-columns( 2 );
	@include omega( block );
  }

  margin: 20px auto;
  padding: 0 30px 0 0;
  width: 100%;

  a:link, a:visited, a:hover {
    color: $bc-orange;
  }

  li {
    border-top: 1px solid $bc-orange;
    list-style-type: none;

  }

  ul.menu {

	text-indent: -1em;
	padding-left: 1em;
	margin-left: 0px;

	> li.menu-item {

	  > a {
		font-size: 1.25em;
		font-weight: 600;
	  }
	}

	.menu-item {
	  border: none;
	  color: $bc-blue;

	  a {
		color: $bc-blue;
		text-transform: uppercase;
	  }
	}

	.sub-menu {
	  margin-left: -1em;
	  border-top: 2px solid $bc-orange !important;
	  padding-top: 10px;
	  a {
		text-transform: none;
	  }

	  &:last-child {
		padding-bottom: 1em;
	  }
	}


  }

}