// 2col Right Sidebar
.apply-2col-right-sidebar, 
.page-template-page-templatestemplate-right-col-php {

	h1.entry-title {
		margin: 0;
		text-align: left;
	}

	#primary {
		float: left !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
		@include media($sm) {
			@include span-columns(4);
		}
		@include media($md) {
			@include span-columns(4);
			margin-left: 1.6% !important;
		}
        @include MQ(L) {
		    margin-left: 20px !important;
        }
	}
	
	#secondary {
		position:relative;
		z-index:1;
		float: right !important;
		margin-top: 20px !important;
		margin-right: 0px !important;
		margin-bottom: 0px !important;
		padding-left: 0px !important;
		background: none;
		@include media($sm) {
			@include span-columns(4);
		}
		@include media($md) {
			@include span-columns(2);
		    margin-top: -60px !important;
			padding-left: 20px !important;
			margin-right: 1.6% !important;
		}
        @include MQ(L) {
			margin-right: 20px !important;
        }
	}
	#secondary-inner {
		padding:20px;
		background-color:$bc-white;
	}
}
