// 2col Right Sidebar
.page-template-default, .single-post, .archive, .blog, .single-media-coverage {

	h1.entry-title {
	  font-size: 3em;
	  margin: 0px 0px 15px 0px;
	  font-weight: 700;
	  font-style: Normal;
	  font-family: $opensans-condensed;
	  text-transform: uppercase;
	  letter-spacing: -1px;
	  color: $bc-orange;
	  text-align: left;
	}

	#main {
	  background-color: transparent;
	  padding-left: 0px;
	  padding-right: 0px;
	  max-width: 1024px;
	}

	#primary {
	  	background-color: $bc-white;
	  	padding: 20px 50px;
	  	margin: 0px;
		margin-left: 0px !important;
		margin-right: 0px !important;
		@include media($sm) {
			@include span-columns(4);
			float: none;
		}
		@include media($md) {
			@include span-columns(6);
			float: none;
		}
		@include media($lg) {
			float: left;
		}
        @include MQ(L) {
		  	@include span-columns(9);
        }
	}
	
	#secondary {
	  	display: none;

		&.mobile-visible {
			display: block;
	  		padding: 20px 50px;
	  		margin-top: 0;
	  		background: #eee;

	  		#secondary-inner {
	  			padding: 0;
	  		}
		}

		&, &.mobile-visible {
	        @include MQ(L) {
			  @include span-columns(3);
			  margin-top: 0px !important;
			  margin-right: 0px !important;
			  margin-left: 20px !important;

			  padding-right: 0px !important;
			  padding-left: 0px !important;

			  display: block !important;
			  position:relative;
			  z-index:1;
			  float: right;
			  margin-bottom: 0px !important;
			  background: $bc-white;
			  
			  #secondary-inner {
				padding:20px;
			  }
	        }
	    }
	}
}
